.b-new-event
{
    background-color: #f0f0f0;
}
.b-new-event__add-button
{
    margin-left: 10px;
}
.b-new-event__event-hours .input__control
{
    width: 20px;
    margin-left: 10px;
}
.b-new-event__event-minutes .input__control
{
    width: 20px;
    margin-right: 10px;


}
.b-new-event__title-time
{
    display: inline-block;
    color: #505050;
    margin-left: 10px;
    margin-right: 88px;

}
.b-new-event__title-event
{
    display: inline-block;
    color: #505050;
    margin-right: 275px;

}
.b-new-event__char
{
    display: inline-block;

}

.input_color_red .input__control
{
    color: #555;
    border-bottom: 1px;
    border-bottom-color: red;
    border-bottom-style: solid;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 0 red;
}

